In [198]:
import pandas as pd
import numpy as np
import gurobipy as gp
from gurobipy import GRB

# 1. Demand data

In [199]:
# 1.1. Import demand data

demand = pd.read_excel(io='file_excel.xlsx', sheet_name = 'production_order')
demand = demand.sort_values(by=['production_order', 'item_code'], ascending=[True, True])
demand.head()

  production_order item_code  demand
0               O1       A57   45478
1               O2       A57   16974
2               O3       A57   98636
3               O5       A57   41733

In [200]:
# 1.2. Create lists of production orders and items

po_list= demand['production_order'].unique().tolist()
item_list_demand = demand['item_code'].unique().tolist()
print(f'''List of production orders: {po_list}''')
print(f'''List of items: {item_list_demand}''')

List of production orders: ['O1', 'O2', 'O3', 'O5']
List of items: ['A57']

In [201]:
# 1.3. Combination of production order and item lists

po_item = []
for po in po_list:
    for item in item_list_demand:
        po_item.append((po, item))

df_po_item = pd.DataFrame(po_item, columns=['production_order', 'item_code'])
df_po_item.head()

  production_order item_code
0               O1       A57
1               O2       A57
2               O3       A57
3               O5       A57

In [202]:
# 1.4. Merge with demand data

df_po_item = df_po_item.merge(demand, on=['production_order', 'item_code'], how='left').replace(np.nan, 0)
df_po_item['demand'] = df_po_item['demand'].astype(int)
df_po_item

  production_order item_code  demand
0               O1       A57   45478
1               O2       A57   16974
2               O3       A57   98636
3               O5       A57   41733

# 2. Supply data

In [203]:
# 2.1. Import supply data

supply = pd.read_excel(io='file_excel.xlsx', sheet_name = 'inventory')
supply = supply.sort_values(by=['item_code', 'stock_on_hand'], ascending=[True, False])
supply.head()

    bin_no item_code  stock_on_hand
10      11        A1           9712
7        8        A1           9657
20      21        A1           9297
3        4        A1           9048
19      20        A1           7087

In [204]:
# 2.2. Create lists of bins and items

bin_list= supply['bin_no'].unique().tolist()
item_list_supply = supply['item_code'].unique().tolist()
print(f'''List of bins: {bin_list}''')
print(f'''List of items: {item_list_supply}''')

List of bins: [11, 8, 21, 4, 20, 24, 25, 2, 6, 28, 9, 16, 3, 1, 19, 13, 23, 12, 14, 10, 15, 17, 26, 18, 5, 7, 22, 27, 49, 55, 41, 29, 45, 50, 43, 40, 39, 56, 46, 48, 35, 32, 33, 31, 52, 37, 47, 54, 44, 36, 53, 38, 42, 51, 34, 30, 84, 71, 63, 69, 61, 67, 64, 68, 79, 80, 77, 75, 70, 59, 60, 74, 58, 76, 83, 62, 65, 72, 57, 73, 81, 78, 66, 82, 103, 104, 107, 91, 110, 109, 112, 95, 105, 87, 85, 93, 111, 108, 89, 94, 90, 88, 100, 98, 106, 96, 102, 97, 86, 99, 92, 101, 116, 134, 128, 114, 127, 122, 136, 139, 118, 117, 126, 113, 129, 123, 115, 140, 125, 120, 124, 131, 138, 135, 133, 130, 137, 119, 121, 132, 148, 160, 142, 161, 149, 151, 155, 154, 152, 167, 165, 162, 163, 147, 157, 164, 150, 143, 158, 168, 166, 159, 146, 141, 145, 156, 144, 153, 183, 189, 176, 193, 185, 191, 174, 190, 171, 173, 192, 170, 182, 169, 175, 194, 179, 196, 178, 186, 172, 195, 184, 181, 180, 188, 177, 187, 222, 216, 203, 224, 218, 223, 219, 197, 206, 213, 207, 214, 210, 204, 209, 220, 199, 208, 212, 221, 202, 217, 200, 215, 198, 201, 211, 205, 244, 245, 237, 238, 251, 246, 241, 225, 239, 235, 247, 233, 240, 231, 249, 250, 252, 226, 243, 248, 229, 227, 234, 236, 232, 230, 242, 228, 258, 271, 276, 275, 274, 266, 279, 260, 254, 262, 277, 264, 259, 272, 257, 269, 270, 261, 278, 263, 273, 255, 256, 280, 253, 265, 267, 268, 284, 294, 304, 297, 302, 289, 292, 305, 281, 300, 287, 307, 282, 293, 306, 291, 298, 283, 299, 308, 301, 290, 288, 285, 303, 286, 296, 295, 336, 333, 311, 327, 316, 320, 314, 310, 315, 326, 329, 331, 317, 321, 335, 309, 324, 332, 323, 328, 334, 322, 325, 330, 312, 313, 319, 318, 338, 354, 349, 356, 347, 352, 343, 362, 358, 345, 355, 361, 353, 357, 350, 346, 360, 363, 351, 340, 341, 337, 364, 342, 344, 339, 348, 359, 385, 378, 375, 384, 389, 368, 383, 366, 392, 391, 369, 386, 379, 390, 376, 365, 371, 374, 373, 380, 372, 370, 367, 387, 382, 381, 377, 388, 407, 409, 395, 396, 419, 404, 416, 397, 408, 394, 393, 405, 411, 420, 399, 414, 413, 406, 398, 402, 412, 401, 403, 400, 417, 415, 418, 410, 430, 440, 445, 439, 447, 425, 429, 421, 446, 432, 438, 426, 423, 424, 428, 448, 441, 442, 437, 427, 435, 434, 433, 431, 443, 444, 422, 436, 454, 466, 455, 452, 450, 453, 474, 451, 475, 470, 468, 449, 460, 464, 472, 476, 456, 473, 471, 457, 463, 465, 467, 469, 458, 461, 459, 462, 499, 486, 503, 496, 484, 478, 480, 493, 501, 491, 488, 482, 497, 502, 494, 481, 483, 504, 479, 485, 490, 500, 487, 498, 492, 477, 495, 489, 531, 512, 506, 507, 516, 509, 519, 523, 522, 511, 505, 510, 508, 525, 521, 528, 518, 532, 526, 527, 530, 517, 513, 515, 514, 524, 529, 520, 544, 542, 538, 548, 551, 549, 554, 541, 555, 537, 556, 536, 534, 540, 535, 560, 547, 539, 558, 533, 546, 550, 545, 553, 559, 543, 557, 552, 568, 564, 578, 567, 577, 566, 575, 586, 562, 573, 585, 587, 580, 584, 569, 571, 563, 572, 581, 570, 574, 582, 583, 561, 579, 588, 576, 565, 603, 610, 609, 615, 589, 605, 616, 596, 612, 607, 595, 598, 611, 590, 604, 592, 602, 614, 597, 608, 599, 601, 593, 613, 606, 591, 594, 600, 642, 631, 629, 627, 632, 639, 621, 641, 640, 618, 626, 643, 638, 630, 617, 636, 624, 628, 619, 620, 635, 622, 625, 644, 623, 633, 637, 634, 648, 645, 649, 658, 664, 666, 663, 659, 661, 669, 655, 646, 671, 652, 653, 654, 656, 647, 668, 650, 665, 667, 662, 670, 651, 672, 657, 660, 675, 674, 688, 685, 673, 686, 684, 692, 676, 680, 696, 700, 691, 677, 694, 689, 690, 683, 693, 681, 698, 699, 678, 682, 679, 697, 695, 687, 722, 708, 723, 725, 720, 714, 713, 707, 719, 709, 718, 706, 727, 705, 721, 716, 710, 728, 701, 717, 712, 702, 726, 711, 704, 724, 703, 715, 750, 746, 743, 748, 735, 742, 749, 753, 738, 734, 751, 730, 755, 741, 729, 739, 733, 752, 744, 732, 754, 740, 736, 745, 737, 731, 756, 747, 783, 764, 773, 765, 776, 761, 762, 759, 781, 768, 769, 778, 760, 757, 767, 770, 777, 771, 772, 784, 775, 782, 766, 780, 774, 758, 763, 779, 799, 810, 804, 793, 801, 811, 795, 785, 797, 791, 803, 808, 796, 788, 790, 794, 798, 802, 809, 786, 789, 807, 812, 787, 805, 806, 792, 800, 825, 833, 820, 835, 813, 824, 816, 836, 819, 829, 834, 814, 840, 817, 831, 838, 828, 826, 823, 821, 815, 827, 822, 839, 837, 818, 832, 830, 845, 860, 855, 867, 853, 863, 852, 854, 844, 858, 851, 866, 847, 843, 865, 864, 868, 856, 862, 849, 848, 861, 842, 857, 850, 846, 841, 859, 884, 889, 877, 894, 879, 880, 881, 886, 893, 892, 869, 873, 896, 891, 887, 888, 875, 882, 874, 890, 870, 871, 885, 895, 876, 872, 883, 878, 899, 917, 914, 912, 913, 910, 908, 903, 915, 904, 911, 897, 919, 900, 923, 902, 909, 918, 920, 907, 906, 921, 916, 901, 924, 922, 905, 898, 938, 952, 945, 932, 925, 939, 935, 950, 942, 944, 928, 931, 927, 930, 947, 943, 946, 926, 949, 937, 936, 940, 933, 934, 948, 929, 941, 951, 954, 957, 971, 966, 978, 977, 955, 963, 973, 959, 960, 972, 953, 976, 980, 965, 975, 967, 956, 974, 962, 970, 964, 979, 969, 968, 961, 958, 996, 997, 989, 985, 1004, 982, 1002, 983, 984, 991, 999, 1008, 981, 990, 988, 986, 1006, 1000, 993, 995, 1005, 987, 994, 1001, 1007, 1003, 998, 992, 1020, 1033, 1025, 1011, 1014, 1024, 1022, 1019, 1017, 1013, 1023, 1031, 1035, 1012, 1015, 1036, 1010, 1032, 1016, 1021, 1027, 1034, 1030, 1009, 1029, 1018, 1028, 1026, 1060, 1042, 1059, 1051, 1050, 1047, 1043, 1045, 1037, 1039, 1053, 1061, 1048, 1054, 1055, 1044, 1046, 1040, 1052, 1062, 1064, 1049, 1057, 1038, 1041, 1058, 1063, 1056, 1081, 1088, 1070, 1076, 1084, 1069, 1065, 1082, 1066, 1071, 1090, 1083, 1075, 1089, 1079, 1072, 1092, 1074, 1086, 1068, 1091, 1078, 1080, 1077, 1087, 1067, 1073, 1085, 1095, 1102, 1107, 1105, 1096, 1108, 1112, 1116, 1097, 1113, 1100, 1114, 1099, 1109, 1094, 1118, 1117, 1119, 1103, 1098, 1110, 1120, 1101, 1093, 1104, 1111, 1115, 1106, 1144, 1140, 1139, 1121, 1135, 1136, 1124, 1141, 1130, 1133, 1128, 1123, 1145, 1143, 1132, 1125, 1148, 1147, 1129, 1131, 1122, 1137, 1142, 1146, 1134, 1127, 1138, 1126, 1151, 1166, 1159, 1150, 1174, 1169, 1157, 1160, 1168, 1161, 1154, 1149, 1171, 1158, 1173, 1167, 1162, 1176, 1152, 1163, 1165, 1153, 1175, 1156, 1170, 1172, 1155, 1164, 1195, 1194, 1180, 1184, 1190, 1185, 1191, 1204, 1193, 1202, 1200, 1196, 1179, 1197, 1203, 1188, 1187, 1177, 1198, 1199, 1182, 1201, 1183, 1178, 1192, 1181, 1186, 1189, 1227, 1217, 1232, 1216, 1228, 1224, 1211, 1226, 1214, 1212, 1219, 1230, 1209, 1229, 1208, 1206, 1210, 1207, 1218, 1222, 1213, 1231, 1223, 1225, 1220, 1221, 1205, 1215, 1243, 1241, 1235, 1239, 1255, 1250, 1256, 1247, 1233, 1260, 1245, 1242, 1244, 1251, 1257, 1254, 1249, 1259, 1240, 1238, 1237, 1234, 1248, 1252, 1236, 1246, 1258, 1253, 1287, 1288, 1281, 1270, 1267, 1286, 1264, 1272, 1261, 1275, 1263, 1282, 1283, 1284, 1262, 1266, 1273, 1277, 1285, 1274, 1265, 1278, 1279, 1268, 1280, 1271, 1269, 1276, 1307, 1294, 1298, 1289, 1300, 1316, 1297, 1312, 1292, 1313, 1304, 1293, 1306, 1309, 1308, 1296, 1311, 1315, 1301, 1291, 1295, 1314, 1310, 1299, 1305, 1302, 1290, 1303, 1337, 1335, 1327, 1332, 1339, 1320, 1321, 1326, 1334, 1318, 1333, 1343, 1329, 1341, 1324, 1340, 1342, 1323, 1319, 1322, 1330, 1328, 1317, 1336, 1331, 1325, 1338, 1344, 1370, 1357, 1363, 1347, 1359, 1362, 1368, 1365, 1364, 1348, 1371, 1360, 1345, 1366, 1351, 1349, 1356, 1358, 1352, 1355, 1372, 1350, 1354, 1346, 1369, 1353, 1361, 1367, 1399, 1388, 1381, 1390, 1375, 1396, 1383, 1385, 1376, 1384, 1389, 1382, 1386, 1387, 1400, 1374, 1391, 1377, 1394, 1393, 1379, 1397, 1373, 1398, 1392, 1378, 1395, 1380, 1414, 1406, 1418, 1421, 1402, 1427, 1425, 1422, 1409, 1413, 1404, 1424, 1408, 1415, 1423, 1401, 1419, 1420, 1405, 1416, 1426, 1403, 1417, 1412, 1410, 1407, 1428, 1411, 1439, 1449, 1448, 1454, 1456, 1435, 1436, 1437, 1450, 1434, 1430, 1453, 1446, 1443, 1447, 1455, 1433, 1441, 1444, 1432, 1438, 1440, 1452, 1445, 1451, 1431, 1429, 1442, 1458, 1459, 1457, 1484, 1472, 1468, 1464, 1473, 1461, 1467, 1465, 1482, 1470, 1475, 1462, 1481, 1463, 1483, 1466, 1469, 1474, 1471, 1478, 1460, 1476, 1479, 1480, 1477, 1511, 1494, 1507, 1487, 1495, 1510, 1500, 1485, 1502, 1486, 1492, 1493, 1508, 1512, 1503, 1490, 1491, 1498, 1506, 1497, 1501, 1499, 1504, 1489, 1488, 1496, 1509, 1505, 1525, 1517, 1516, 1520, 1519, 1529, 1526, 1527, 1536, 1540, 1539, 1534, 1515, 1531, 1521, 1537, 1535, 1530, 1528, 1524, 1532, 1533, 1513, 1538, 1514, 1522, 1518, 1523, 1550, 1542, 1560, 1565, 1566, 1551, 1545, 1541, 1554, 1549, 1561, 1552, 1555, 1559, 1544, 1557, 1564, 1543, 1547, 1563, 1556, 1553, 1558, 1567, 1546, 1548, 1568, 1562, 1576, 1574, 1578, 1587, 1582, 1569, 1594, 1580, 1583, 1593, 1584, 1571, 1592, 1589, 1586, 1570, 1575, 1585, 1595, 1577, 1572, 1591, 1596, 1588, 1581, 1573, 1590, 1579, 1602, 1623, 1607, 1620, 1614, 1619, 1613, 1617, 1603, 1598, 1604, 1615, 1616, 1622, 1608, 1605, 1601, 1621, 1600, 1599, 1610, 1624, 1612, 1597, 1618, 1611, 1609, 1606, 1652, 1651, 1634, 1638, 1640, 1629, 1631, 1644, 1635, 1630, 1633, 1643, 1649, 1626, 1645, 1641, 1632, 1637, 1648, 1639, 1636, 1647, 1646, 1650, 1628, 1627, 1625, 1642, 1671, 1669, 1663, 1657, 1655, 1678, 1680, 1665, 1653, 1664, 1668, 1676, 1658, 1662, 1674, 1659, 1661, 1654, 1656, 1670, 1677, 1660, 1672, 1679, 1675, 1673, 1666, 1667, 1706, 1698, 1692, 1684, 1693, 1686, 1694, 1705, 1688, 1704, 1707, 1682, 1697, 1699, 1696, 1702, 1685, 1690, 1700, 1691, 1701, 1681, 1683, 1695, 1687, 1703, 1689, 1708, 1724, 1719, 1728, 1727, 1709, 1730, 1726, 1722, 1715, 1733, 1725, 1711, 1710, 1736, 1717, 1716, 1714, 1712, 1713, 1720, 1718, 1734, 1735, 1721, 1723, 1731, 1729, 1732, 1764, 1758, 1755, 1761, 1744, 1741, 1737, 1759, 1753, 1738, 1757, 1747, 1762, 1750, 1748, 1739, 1742, 1749, 1743, 1763, 1740, 1756, 1751, 1760, 1746, 1745, 1754, 1752, 1789, 1787, 1790, 1765, 1791, 1768, 1788, 1782, 1769, 1783, 1774, 1776, 1767, 1781, 1780, 1784, 1785, 1778, 1775, 1777, 1771, 1792, 1779, 1770, 1772, 1773, 1786, 1766]
List of items: ['A1', 'A10', 'A11', 'A12', 'A13', 'A14', 'A15', 'A16', 'A17', 'A18', 'A19', 'A2', 'A20', 'A21', 'A22', 'A23', 'A24', 'A25', 'A26', 'A27', 'A28', 'A29', 'A3', 'A30', 'A31', 'A32', 'A33', 'A34', 'A35', 'A36', 'A37', 'A38', 'A39', 'A4', 'A40', 'A41', 'A42', 'A43', 'A44', 'A45', 'A46', 'A47', 'A48', 'A49', 'A5', 'A50', 'A51', 'A52', 'A53', 'A54', 'A55', 'A56', 'A57', 'A58', 'A59', 'A6', 'A60', 'A61', 'A62', 'A63', 'A64', 'A7', 'A8', 'A9']

In [205]:
# 2.3. Combination of production order and item lists

bin_item = []
for bin_no in bin_list:
    for item in item_list_supply:
        bin_item.append((bin_no, item))

df_bin_item = pd.DataFrame(bin_item, columns=['bin_no', 'item_code'])
df_bin_item.head()

   bin_no item_code
0      11        A1
1      11       A10
2      11       A11
3      11       A12
4      11       A13

In [206]:
# 2.4. Merge with supply data

df_bin_item = df_bin_item.merge(supply, on=['bin_no', 'item_code'], how='left').replace(np.nan, 0)
df_bin_item['stock_on_hand'] = df_bin_item['stock_on_hand'].astype(int)
df_bin_item['bin_no'] = df_bin_item['bin_no'].astype(str)
df_bin_item

       bin_no item_code  stock_on_hand
0          11        A1           9712
1          11       A10              0
2          11       A11              0
3          11       A12              0
4          11       A13              0
...       ...       ...            ...
114683   1766       A63              0
114684   1766       A64              0
114685   1766        A7              0
114686   1766        A8              0
114687   1766        A9            201

[114688 rows x 3 columns]

# 3. Optimization model

In [207]:
# 3.1. Sets

I = df_po_item['production_order'].unique()  # set of production orders
J = df_po_item['item_code'].unique()  # set of item codes
K = df_bin_item['bin_no'].unique()  # set of bins
D = df_po_item.set_index(['production_order', 'item_code'])['demand'].to_dict()  # set of demand
S = df_bin_item.set_index(['item_code', 'bin_no'])['stock_on_hand'].to_dict()  # set of supply

In [208]:
# 3.2. Optimization model

# Model
model = gp.Model('bin_allocation')

# Variables
x = model.addVars(I, J, K, vtype=GRB.BINARY, name='yes/no decision whether to allocate item j from bin k to production order i')
y = model.addVars(I, J, K, vtype=GRB.CONTINUOUS, name='the amount of item j from bin k to be allocated to production order i')

# Objective function: Minimize the number of bin allocated to production orders
model.setObjective(gp.quicksum(x[i, j, k] for i in I for j in J for k in K), GRB.MINIMIZE)

# Demand contraint
# For each production order i and item j, the total amount allocated from all the bin must be greater than or equal to the demand
for i in I:
    for j in J:
        model.addConstr(gp.quicksum(y[i, j, k] for k in K) == D[i, j])

# Supply constraint
# For each item j and bin k, the total amount to be allocated to all the production orders must be less than or equal to the stock on hand
for j in J:
    for k in K:
        model.addConstr(gp.quicksum(y[i, j, k] for i in I) <= S[j, k])
        
# Linking constraint
# For each production order i, item j and bin k, if any amount of item j in bin k is allocated to production order i, the corresponding decision variable x[i, j, k] must be equal to 1
for i in I:
    for j in J:
        for k in K:
            model.addConstr(y[i, j, k] - S[j, k] * x[i, j, k] <= 0)

model.optimize()

Gurobi Optimizer version 11.0.0 build v11.0.0rc2 (win64 - Windows 11+.0 (26100.2))

CPU model: 11th Gen Intel(R) Core(TM) i7-11800H @ 2.30GHz, instruction set [SSE2|AVX|AVX2|AVX512]
Thread count: 8 physical cores, 16 logical processors, using up to 16 threads

Optimize a model with 8964 rows, 14336 columns and 21616 nonzeros
Model fingerprint: 0x85e31413
Variable types: 7168 continuous, 7168 integer (7168 binary)
Coefficient statistics:
  Matrix range     [1e+00, 2e+04]
  Objective range  [1e+00, 1e+00]
  Bounds range     [1e+00, 1e+00]
  RHS range        [3e+03, 1e+05]
Presolve removed 8820 rows and 14112 columns
Presolve time: 0.00s
Presolved: 144 rows, 224 columns, 448 nonzeros
Variable types: 112 continuous, 112 integer (112 binary)
Found heuristic solution: objective 29.0000000

Root relaxation: objective 2.321564e+01, 211 iterations, 0.00 seconds (0.00 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0   23.21564    0    7   29.00000   23.21564  19.9%     -    0s
H    0     0                      27.0000000   23.21564  14.0%     -    0s
H    0     0                      25.0000000   23.21564  7.14%     -    0s
     0     0   23.22646    0   13   25.00000   23.22646  7.09%     -    0s
     0     0   23.22646    0    9   25.00000   23.22646  7.09%     -    0s
H    0     0                      24.0000000   23.22646  3.22%     -    0s
     0     0   24.00000    0    9   24.00000   24.00000  0.00%     -    0s

Cutting planes:
  Gomory: 1
  Lift-and-project: 1
  Cover: 1
  Flow cover: 3

Explored 1 nodes (241 simplex iterations) in 0.02 seconds (0.01 work units)
Thread count was 16 (of 16 available processors)

Solution count 4: 24 25 27 29

Optimal solution found (tolerance 1.00e-04)
Best objective 2.400000000000e+01, best bound 2.400000000000e+01, gap 0.0000%

# 4. Post-optimization processing

In [209]:
# 4.1. Export the result

# Create result list to store allocation results
results_list = []

for i in I:
    for j in J:
        for k in K:
            if x[i, j, k].X > 0:
                results_list.append({
                    'production_order': i,
                    'item_code': j,
                    'bin_no': k,
                    'amount_allocated': y[i, j, k].X
                })

# Create dataframe
allocation_results = pd.DataFrame(results_list)

# Change data type of columns
allocation_results['bin_no'] = allocation_results['bin_no'].astype(str)
allocation_results['amount_allocated'] = allocation_results['amount_allocated'].astype(int)
allocation_results

   production_order item_code bin_no  amount_allocated
0                O1       A57   1472             12348
1                O1       A57   1467              9524
2                O1       A57   1465              8771
3                O1       A57   1481              5315
4                O1       A57   1471              4879
5                O1       A57   1478              4641
6                O2       A57   1464             11033
7                O2       A57   1482              5941
8                O3       A57   1458             16871
9                O3       A57   1459             16055
10               O3       A57   1457             12754
11               O3       A57   1484             12748
12               O3       A57   1468             11072
13               O3       A57   1461              9687
14               O3       A57   1470              7587
15               O3       A57   1475              6747
16               O3       A57   1469              5115
17               O5       A57   1473              9787
18               O5       A57   1462              6442
19               O5       A57   1463              5370
20               O5       A57   1483              5283
21               O5       A57   1466              5227
22               O5       A57   1474              5047
23               O5       A57   1460              4577

In [210]:
# 4.2. Merge with supply data to check combine bin decision

allocation_results = allocation_results.merge(df_bin_item, on=['bin_no', 'item_code'], how='left')
allocation_results['gap'] = allocation_results['stock_on_hand'] - allocation_results['amount_allocated']
allocation_results['combine_bin_decision'] = np.where(allocation_results['gap'] > 0, 1, 0)
allocation_results

,production_order,item_code,bin_no,amount_allocated,stock_on_hand,gap,combine_bin_decision
0,O1,A57,1472,12348,12348,0,0
1,O1,A57,1467,9524,9524,0,0
2,O1,A57,1465,8771,8771,0,0
3,O1,A57,1481,5315,5916,601,1
4,O1,A57,1471,4879,4879,0,0
5,O1,A57,1478,4641,4641,0,0
6,O2,A57,1464,11033,11033,0,0
7,O2,A57,1482,5941,8045,2104,1
8,O3,A57,1458,16871,16871,0,0
9,O3,A57,1459,16055,16055,0,0
10,O3,A57,1457,12754,12754,0,0
11,O3,A57,1484,12748,12748,0,0
12,O3,A57,1468,11072,11072,0,0
13,O3,A57,1461,9687,9687,0,0
14,O3,A57,1470,7587,7827,240,1
15,O3,A57,1475,6747,6747,0,0
16,O3,A57,1469,5115,5115,0,0
17,O5,A57,1473,9787,10432,645,1
18,O5,A57,1462,6442,6442,0,0
19,O5,A57,1463,5370,5370,0,0
20,O5,A57,1483,5283,5283,0,0
21,O5,A57,1466,5227,5227,0,0
22,O5,A57,1474,5047,5047,0,0
23,O5,A57,1460,4577,4577,0,0

In [211]:
# 4.3. Export to excel

allocation_results.to_excel('allocation_results.xlsx', index=False)